<mat-card>
  <mat-card-title>Excluir voluntario do sistema</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Armando José Branco"
               name="name" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="346.436.564.88"
             name="cpf" disabled>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">
      Excluir
  </button>
  
  <button mat-raised-button>
      Cancelar
  </button>
</mat-card>