<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="75">
       
        <mat-nav-list class="nav-list">
            <input type="checkbox" id="bt_menu">
        <label for="bt_menu" mat-icon-button fxHide fxShow.xs>
            <mat-icon>menu</mat-icon>
        </label>
            <div id="menu">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Dashboard
            </a>
            <a mat-list-item  routerLink="/desaparecidos">
                <i class="material-icons">
                    person
                </i>
                Desaparecidos
            </a>
            <a mat-list-item  routerLink="/voluntario">
                <i class="material-icons">
                    person_add
                </i>
                Voluntarios
            </a>
            <a mat-list-item  routerLink="/evento">
                <i class="material-icons">
                    event_note
                </i>
                Eventos
            </a>
            <a mat-list-item  routerLink="/recompensa">
                <i class="material-icons">
                    card_giftcard
                </i>
                Recompensas
            </a>
            <a mat-list-item  routerLink="/endereco">
                <i class="material-icons">
                    where_to_vote
                </i>
                Endereços
            </a>
            <a mat-list-item  routerLink="/blog">
                <i class="material-icons">
                    bubble_chart
                </i>
                Blog
            </a>
            <a mat-list-item  routerLink="/encontrado">
                <i class="material-icons">
                    person
                </i>
                Encontrados
            </a>
            <a mat-list-item  routerLink="/doacao">
                <i class="material-icons">
                    money
                </i>
                Doações
            </a>
            <a mat-list-item  routerLink="/mensagem">
                <i class="material-icons">
                    mail
                </i>
                Mensagens Reportadas
            </a>
            <a mat-list-item  routerLink="/visto">
                <i class="material-icons">
                    where_to_vote
                </i>
                Ultima vez vista
            </a>
        </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
