.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
  display: flex;
  justify-content: center;
  
}

.form-control {
  box-shadow: 0 2px 4px 0 #B0C1D9;
  border: none;
  height: 100%;
}

button {
  border: none;
  height: 21px;
  background-color: var(--content);
}
