<mat-card>
  <mat-card-title>Atualizar recompensa</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Titulo da recompensa"
             name="recompensa">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descrição da recompensa"
           name="descricao">
    </mat-form-field>
    <mat-form-field>
      <label name="patrocinador" value="Patrocinador"></label>
      <input matInput  placeholder="Patrocinador"
         name="patrocinador">
    </mat-form-field>
  </form>
  <button mat-raised-button>
      Atualizar
  </button>
  <button mat-raised-button>
    Cancelar
  </button>
</mat-card>
