
<app-search-bar></app-search-bar>
  <div class="mat-elevation-z4">
    <table>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Matricula</th>
        <td mat-cell>Matricula/td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell>Nome completo</td>
      </ng-container>
  
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell>CPF do Doador</td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell>Data do pagamento</td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell>Valor liquido / bruto</td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell>
            <a routerLink="/pagamento/atualizar/1" class="edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
        </td>
      </ng-container>
  
      <tr mat-header-row></tr>
      <tr mat-row></tr>
    </table>
  </div>