<mat-card>
  <mat-card-title>Desfazer parceiria</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Restaurante da dona Maria"
               name="nome_empresa" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="38.736.223.334/0001-34"
             name="cnpj" disabled>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">
      Excluir
  </button>
  
  <button mat-raised-button>
      Cancelar
  </button>
</mat-card>