<mat-card>
  <mat-card-title>Excluir evento do sistema</mat-card-title>
  <form>
      <mat-form-field>
          <input matInput placeholder="Radar Fest"
               name="titulo" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Primeiro evento para reunir os voluntarios"
             name="descricao" disabled>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">
      Excluir
  </button>
  
  <button mat-raised-button>
      Cancelar
  </button>
</mat-card>