<mat-card>
  <mat-card-title>Excluir pessoa desaparecida cadastrada no sistema</mat-card-title>
  <form>
      <mat-form-field>
          <textarea matInput placeholder="Mensagem: Olá dr. eu encontrei alguem aqui...."
               name="name" disabled></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="346.436.564.88"
             name="cpf" disabled>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn">
      Excluir
  </button>
  
  <button mat-raised-button>
      Cancelar
  </button>
</mat-card>