<mat-card>
  <mat-card-title><h1>Cadastrar os endereços, onde os desaparecidos foram reportado</h1></mat-card-title>
  <form>
      <mat-form-field>
      <input matInput placeholder="Nome do possivel desaparecido"
         name="nome">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Logradouro"
             name="logradouro">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bairro"
           name="bairro">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero da casa inicio"
         name="num_casa_start">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero da casa fim"
         name="num_casa_end">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descrição das proximidades"
         name="description"></textarea>
    </mat-form-field>
  </form>
  <button mat-raised-button>
      Salvar
  </button>
  <button mat-raised-button>
    Cancelar
  </button>
</mat-card>
